body {
margin:0;
padding:0;
}

.header{
    overflow: hidden;
    padding: 1%;
    background: #282A35;
    margin-bottom: 5%;
}
.header p{
  float: right;
  margin-right: 15%;

}
.header a{
  color:#f1f1f1 ;
  text-decoration: none;
  background-color: #04AA6D;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 25px ;
}
.header a:hover{
  background-color: #048052;
}

.contenedor-mayor{
  
  width: 60%;
  margin: auto;
  background-color: rgba(40, 42, 53, 0.95);
  border-radius: 20px;
  padding: 20px;
  

  
}


label {
  display: inline-block;
  width: 150px;
  color:#f1f1f1 ;
 font-size: 20px;
 text-shadow: 1px 1px 1px black;
} 

.contenedor-menor {
  margin: 15px;
  text-align: center;
}

.contenedor-menor input{
  background-color: rgba(40, 42, 53, 0.95);
  
  color: #04AA6D;
  border-radius: 10px;
  border-color: #04AA6D;
  
}